{% extends 'base.html.twig' %}

{% block title %}Rabbits - Créer une équipe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}


{% block body %}
    <h1 class="form-title">Créer un roster pour {{ team }}</h1>
    <div class="container form-container my-5">
        {{ form(form) }}
    </div>
{% endblock %}
