{# https://symfony.com/bundles/EasyAdminBundle/current/dashboards.html#content-page-template #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}Dashboard{% endblock %}

{% block page_actions %}
    {#
    <a class="btn btn-primary" href="...">Some Action</a>
    #}
{% endblock %}

{% block main %}
    <h2>Panel d'administration RabbitsTournament</h2>
{% endblock %}