@import "main";

.img-fluid {
  filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
}

.home-section {
  padding: 96px 0px !important;
  text-align: justify;
}

.home-sub-section {
  h2 {
    text-align: left;
    font-weight: bold;
    margin: 24px 0px;
  }

  p {
    text-align: justify !important;
  }
}

.icon-box-container {
  padding-right: 128px;

  .icon-box {
    padding: 16px;

    .icon {
      float: left;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $pink;
      transition: .5s ease;
      margin-right: 16px;
    }

    h4 {
      text-align:  left;
      font-weight: bold;
    }
  }

  .icon-box:hover {
    .icon {
      background: $pink;
    }
  }
}

.partenaires {
  padding: 16px 0px;

  .img-fluid {
    height: 64px;
    margin-right: 32px;
  }
}


@media screen and (max-width: 800px) {
  .img-fluid {
    padding: 20px 0px;
    max-width: 300px;
  }

  .partenaires {
    .img-fluid {
      height: auto;
      max-width: 200px;
    }
  }

  .home-section {
    padding: 48px 0px !important;
    text-align: center;
  }

  .home-sub-section {
    h2 {
      text-align: center;
    }
  }

  .icon-box-container {
    padding-right: 0px;
  }
}
