@import "main";

nav {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
}

nav i {
  margin-right: 6px;
  font-size: 15px;
}

.nav-link {
  color: $light !important;
  margin: 0px 4px;
  font-weight: 600;
}

.nav-link:hover {
  color: $primary !important;
}