<footer class="text-center text-lg-start">
    <section class="bg-darker py-5">
        <div class="container text-center text-md-start">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Rabbits Tournament
                    </h6>
                    <p class="text-justify">
                        La plateforme de tournois pour les étudiants par les étudiants !
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 title-footer">
                        <i class="fa-solid fa-link"></i> Liens utiles
                    </h6>
                    <p>
                        <a class="text-reset" href="{{ path('login.index') }}">Se connecter</a>
                    </p>
                    <p>
                        <a class="text-reset" href="{{ path('login.register') }}">S'inscrire</a>
                    </p>
                    <p>
                        <a class="text-reset" href="{{ path('tournament.list') }}">Les tournois</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 get-in-touch">
                    <h6 class="text-uppercase fw-bold mb-4 title-footer">
                        <i class="fa-solid fa-paper-plane"></i> Nous retrouver
                    </h6>
                    <p><i class="fa-brands fa-discord"></i> <a href="https://discord.gg/wKBsuEVe" target="_blank">Nous rejoindre sur Discord</a></p>
                    <p><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/rabbits.bde/" target="_blank">Nous suivre sur Instagram</a></p>
                    <p><i class="fa-brands fa-twitch"></i> <a href="https://www.twitch.tv/bde_rabbits" target="_blank">Nous regarder sur twitch</a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center align-items-center bg-footer-darker py-4 text-center">
        <p class="m-0">© 2023 Copyright <span class="text-reset fw-bold">Rabbits Tournament</span><br>Fait avec ❤ par <a href="https://hidoyat.fr" target="_blank">Hido</a>.</p>
    </div>
</footer>